*~
*.a
*.o
*.la
*.lo
*.so
*.swp
*.swo
.autotools
.cproject
.deps
.dirstamp
.project
.settings
aclocal.m4
autom4te.cache
build
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
Makefile.in
Makefile
missing
test-driver
