*~
*.a
*.o
*.la
*.lo
*.so
*.swp
*.swo
.deps
.dirstamp
aclocal.m4
autom4te.cache
compile
config.guess
config.log
config.status
config.sub
configure
configure-stamp
depcomp
install-sh
Makefile.in
missing

/Makefile
/petera
/peterad
/peterad.service
